
@{
    ViewData["Title"] = @TextConstants.ExpandYourBusinessPageTitle;
}

@section PageMeta
{
    <meta name="description" content="@TextConstants.ExpandYourBusinessPageDescription">
    <meta name="keywords" content="@TextConstants.ExpandYourBusinessPageKeyWords">
    <meta name="robots" content="index, nofollow">

    <link rel="canonical" href="https://sinoxpert.eu/Service/ExpandYourBusiness" />
}


<!-- Hero -->
<section id="slider" class="hero p-0 odd featured">
    <div class="swiper-container no-slider animation slider-h-50 slider-h-auto">
        <div class="swiper-wrapper">

            <!-- Item 1 -->
            <div class="swiper-slide slide-center">
               
                <!-- Media -->

                <img src="@ImageLinks.ServicesDefaultHeaderImage" alt="@TextConstants.ServicePagesHeaderImageAlt" class="header-image">

                <div class="slide-content row text-center">
                    <div class="col-12 mx-auto inner">

                        <!-- Content -->
                        <nav data-aos="zoom-out-up" data-aos-delay="800" aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">@TextConstants.HomeLinkText</a></li>
                                <li class="breadcrumb-item active" aria-current="page">@TextConstants.ServiceFourHeader</li>
                            </ol>
                        </nav>
                        <h1 class="mb-0 title effect-static-text" style="white-space: break-spaces;">@ExpandYourBusinessTextConstants.Header</h1>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<!-- Single -->
<section id="single" class="section-0 single">
    <div class="container">
        <div class="row">

            <!-- Main -->
            <div class="col-12 col-lg-8 p-0 text">
                <div class="row intro m-0">
                    <div class="col-12">
                        <span class="pre-title m-0">@TextConstants.FirstPartLogoName@TextConstants.SecondPartLogoName</span>
                        <span class="pre-title m-0">@ExpandYourBusinessTextConstants.SubHeader</span>
                        <div class="title-icon">
                            <h2><span class="featured"><span><i class="icon icon-plane"></i>@ExpandYourBusinessTextConstants.InformationHeader </span></span> </h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 align-self-center">
                        <p>@ExpandYourBusinessTextConstants.InformationFirstParagraph</p>
                        <strong>@ExpandYourBusinessTextConstants.InformationFirstBulletHeader</strong>
                        <ul>
                            <li>@ExpandYourBusinessTextConstants.InformationFirstBulletParagraph</li>
                        </ul>
                        <strong>@ExpandYourBusinessTextConstants.InformationSecondBulletHeader</strong>
                        <ul>
                            <li>@ExpandYourBusinessTextConstants.InformationSecondBulletParagraph</li>
                        </ul>
                        <strong>@ExpandYourBusinessTextConstants.InformationThirdBulletHeader</strong>
                        <ul>
                            <li>@ExpandYourBusinessTextConstants.InformationThirdBulletParagraph</li>
                        </ul>
                        <strong>@ExpandYourBusinessTextConstants.InformationFourthBulletHeader</strong>
                        <ul>
                            <li>@ExpandYourBusinessTextConstants.InformationFourthBulletParagraph</li>
                        </ul>
                        <strong>@ExpandYourBusinessTextConstants.InformationFifthBulletHeader</strong>
                        <ul>
                            <li>@ExpandYourBusinessTextConstants.InformationFirstBulletParagraph</li>
                        </ul>
                        <strong>@ExpandYourBusinessTextConstants.InformationSixthBulletHeader</strong>
                        <ul>
                            <li>@ExpandYourBusinessTextConstants.InformationSixthBulletParagraph</li>
                        </ul>
                        <p>@ExpandYourBusinessTextConstants.InformationFinalParagraph</p>
                    </div>
                </div>
            </div>

            <!-- Sidebar -->
            <aside class="col-12 col-lg-4 pl-lg-5 p-0 float-right sidebar">
                <div class="row">
                    <div class="col-12 align-self-center text-left">
                        <h4>@ExpandYourBusinessTextConstants.ServiceMappingHeader</h4>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item d-flex justify-content-start align-items-center" style="text-align:left;">
                                <i class="icon icon-organization" style="margin-right:20%; position:absolute;"></i>
                                <span style="text-align:left; margin-left:18%;">@ExpandYourBusinessTextConstants.SidebarFirstHeader</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-start align-items-center">
                                <i class="icon icon-globe-alt" style="margin-right:25%; position:absolute;"></i>
                                <span style="text-align:left; margin-left:18%;"> @ExpandYourBusinessTextConstants.SidebarSecondHeader</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-start align-items-center">
                                <i class="icon icon-layers" style="margin-right:25%; position:absolute;"></i>
                                <span style="margin-left:18%;"> @ExpandYourBusinessTextConstants.SidebarThirdHeader</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-start align-items-center">
                                <i class="icon icon-pie-chart" style="margin-right:13%; position:absolute;"></i>
                                <span style="text-align:left; margin-left:17%;;">@ExpandYourBusinessTextConstants.SidebarFourthHeader</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-start align-items-center">
                                <i class="icon icon-briefcase" style="position:absolute;"></i>
                                <span style="margin-left:17%;">@ExpandYourBusinessTextConstants.SidebarFifthHeader</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-start align-items-center">
                                <i class="icon icon-plane" style="position:absolute;"></i>
                                <span style="margin-left:17%;">@ExpandYourBusinessTextConstants.SidebarSixthHeader</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-start align-items-center">
                                <i class="icon icon-chart" style="margin-right:87%;position:absolute;"></i>
                                <span style="margin-left:17%;">@ExpandYourBusinessTextConstants.SidebarSeventhHeader</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-start align-items-center">
                                <i class="icon icon-drawer" style="position:absolute; margin-right:87%;"></i>
                                <span style="margin-left:17%;">@ExpandYourBusinessTextConstants.SidebarEighthHeader</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </aside>
        </div>
    </div>
</section>

<!-- About -->
<section id="about" class="section-2 highlights image-right">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 pr-md-5 align-self-center text-center text-md-left text">
                <div data-aos="fade-up" class="row intro">
                    <div class="col-12 p-0">
                        <span class="pre-title m-auto m-md-0">@ExpandYourBusinessTextConstants.AboutSectionSubHeader</span>
                        <h2><span class="featured"><span>@ExpandYourBusinessTextConstants.AboutSectionHighlightedHeader</span></span>@ExpandYourBusinessTextConstants.AboutSectionHeader</h2>
                        <p>@ExpandYourBusinessTextConstants.AboutSectionSummary</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 pr-md-5 align-self-center text-center text-md-left text">
                <div class="row items">
                    <div data-aos="fade-up" class="col-12 col-md-6  pr-md-4 item">
                        <h4><i class="mr-2 icon-badge"></i>@ExpandYourBusinessTextConstants.AboutSectionSummaryHeaderOne</h4>
                        <p>@ExpandYourBusinessTextConstants.AboutSectionSummaryOne</p>
                    </div>
                    <div data-aos="fade-up" class="col-12 col-md-6  item">
                        <h4><i class="mr-2 icon-lock"></i>@ExpandYourBusinessTextConstants.AboutSectionSummaryHeaderTwo</h4>
                        <p>@ExpandYourBusinessTextConstants.AboutSectionSummaryTwo</p>
                    </div>
                </div>
                <div class="row items">
                    <div data-aos="fade-up" class="col-12 col-md-6  item">
                        <h4><i class="mr-2 icon-note"></i>@ExpandYourBusinessTextConstants.AboutSectionSummaryHeaderThree</h4>
                        <p>@ExpandYourBusinessTextConstants.AboutSectionSummaryThree</p>
                    </div>
                    <div data-aos="fade-up" class="col-12 col-md-6  pr-md-4 item">
                        <h4><i class="mr-2 icon-graduation"></i>@ExpandYourBusinessTextConstants.AboutSectionSummaryFourHeader</h4>
                        <p>@ExpandYourBusinessTextConstants.AboutSectionSummaryFour</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- About 2 -->
<section id="about-2" class="section-1 odd highlights team image-right">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-8 align-self-top text">
                <div class="row intro m-0">
                    <div class="col-12 p-0">
                        <h2>@ExpandYourBusinessTextConstants.InnovationHeader<span class="featured"><span>@ExpandYourBusinessTextConstants.InnovationHighlightedHeader</span></span></h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 p-0 pr-md-5">
                        <p><b>@ExpandYourBusinessTextConstants.InnovationDescriptionFirstParagraph</b></p>
                        <p>@ExpandYourBusinessTextConstants.InnovationDescriptionSecondParagraph</p>
                    </div>
                </div>

                <!-- Action -->
                <div data-aos="fade-up" class="buttons">
                    <div class="d-sm-inline-flex mt-4">
                        <a href="#contact" class="smooth-anchor mt-4 btn primary-button">@TextConstants.GetInTouchButtonName</a>
                    </div>
                </div>
            </div>
            <div data-aos="zoom-in" class="col-12 col-lg-4">
                <div class="quote">
                    <div class="quote-content">
                        <p>@ExpandYourBusinessTextConstants.InnovationQuoteSectionDescriptionFirstParagraph</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Contact -->
@{
    await Html.RenderPartialAsync("PartialViews/GetInTouchPartialView");
}