@{
    ViewData["Title"] = @TextConstants.FindASupplierPageTitle;
}

@section PageMeta
{
    <meta name="description" content="@TextConstants.FindASupplierPageDescription">
    <meta name="keywords" content="@TextConstants.FindASupplierPageKeyWords">
    <meta name="robots" content="index, follow">
}


<!-- Hero -->
<section id="slider" class="hero p-0 odd featured">
    <div class="swiper-container no-slider animation slider-h-50 slider-h-auto">
        <div class="swiper-wrapper">

            <!-- Item 1 -->
            <div class="swiper-slide slide-center">

                <!-- Media -->
              
                <img src="@ImageLinks.ServicesDefaultHeaderImage" alt="@TextConstants.ServicePagesHeaderImageAlt" class="header-image">

                <div class="slide-content row text-center">
                    <div class="col-12 mx-auto inner">

                        <!-- Content -->
                        <nav data-aos="zoom-out-up" data-aos-delay="800" aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">@TextConstants.HomeLinkText</a></li>
                                <li class="breadcrumb-item active" aria-current="page">@TextConstants.ServiceOneHeader</li>
                            </ol>
                        </nav>
                        <h1 class="mb-0 title effect-static-text">@FindASupplierTextConstants.Header</h1>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<!-- Single -->
<section id="single" class="section-0 single">
    <div class="container">
        <div class="row">

            <!-- Main -->
            <div class="col-12 col-lg-8 p-0 text">
                <div class="row intro m-0">
                    <div class="col-12">
                        <span class="pre-title m-0">@TextConstants.FirstPartLogoName@TextConstants.SecondPartLogoName</span>
                        <span class="pre-title m-0">@FindASupplierTextConstants.SubHeader</span>
                        <div class="title-icon">
                            <h2><span class="featured"><span><i class="icon icon-organization"></i>@FindASupplierTextConstants.InformationHeader </span></span> </h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 align-self-center">
                        <p>@FindASupplierTextConstants.InformationFirstParagraph</p>
                        <blockquote>@FindASupplierTextConstants.InformationQuoteText</blockquote>
                        <p>@FindASupplierTextConstants.InformationSecondParagraph</p>
                        <strong>@FindASupplierTextConstants.InformationFirstBulletHeader</strong>
                        <ul>
                            <li>@FindASupplierTextConstants.InformationFirstBulletParagraph</li>
                        </ul>
                        <strong>@FindASupplierTextConstants.InformationSecondBulletHeader</strong>
                        <ul>
                            <li>@FindASupplierTextConstants.InformationSecondBulletParagraph</li>
                        </ul>
                        <p>@FindASupplierTextConstants.InformationThirdParagraph</p>
                        <p>@FindASupplierTextConstants.InformationFourthParagraph</p>
                        <blockquote>@FindASupplierTextConstants.InformationSecondQuoteText</blockquote>
                        <ul>
                            <li><strong>@FindASupplierTextConstants.InformationThirdBulletHeader</strong>@FindASupplierTextConstants.InformationThirdBulletSummary</li>
                            <br />
                            <li><strong>@FindASupplierTextConstants.InformationFourthBulletHeader</strong>@FindASupplierTextConstants.InformationFourthBulletSummary</li>
                            <br />
                            <li><strong>@FindASupplierTextConstants.InformationFifthBulletHeader</strong>@FindASupplierTextConstants.InformationFifthBulletSummary</li>
                            <br />
                            <li><strong>@FindASupplierTextConstants.InformationSixthBulletHeader</strong>@FindASupplierTextConstants.InformationSixthBulletSummary</li>
                            <br />
                            <li><strong>@FindASupplierTextConstants.InformationSeventhBulletHeader</strong>@FindASupplierTextConstants.InformationSeventhBulletSummary</li>
                        </ul>
                        <p>@FindASupplierTextConstants.InformationFifthParagraph</p>
                        <blockquote>@FindASupplierTextConstants.InformationThirdQuoteText</blockquote>
                        <p>@FindASupplierTextConstants.InformationSixthParagraph</p>
                        <blockquote>@FindASupplierTextConstants.InformationFourthQuoteText</blockquote>
                        <p>@FindASupplierTextConstants.InformationSeventhParagraph</p>
                        <blockquote>@FindASupplierTextConstants.InformationFinalMessage</blockquote>
                    </div>
                </div>
            </div>

            <!-- Sidebar -->
            <aside class="col-12 col-lg-4 pl-lg-5 p-0 float-right sidebar">
                <div class="row">
                    <div class="col-12 align-self-center text-left">
                        <h4>@FindASupplierTextConstants.ServiceMappingHeader</h4>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item d-flex justify-content-start align-items-center" style="text-align:left;">
                                <i class="icon icon-organization" style="margin-right:20%; position:absolute;"></i>
                                <span style="text-align:center; margin-left:18%;white-space:nowrap;">@FindASupplierTextConstants.SidebarFirstHeader</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-start align-items-center">
                                <i class="icon icon-globe-alt" style="margin-right:25%; position:absolute;"></i>
                                <span style="text-align:center; margin-left:18%;white-space:nowrap;"> @FindASupplierTextConstants.SidebarSecondHeader</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-start align-items-center">
                                <i class="icon icon-layers" style="margin-right:25%; position:absolute;"></i>
                                <span style="margin-left:18%;"> @FindASupplierTextConstants.SidebarThirdHeader</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-start align-items-center">
                                <i class="icon icon-pie-chart" style="margin-right:13%; position:absolute;"></i>
                                <span style="text-align:center; margin-left:17%;white-space:nowrap;">@FindASupplierTextConstants.SidebarFourthHeader</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-start align-items-center">
                                <i class="icon icon-briefcase" style="position:absolute;"></i>
                                <span style="margin-left:17%;">@FindASupplierTextConstants.SidebarFifthHeader</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-start align-items-center">
                                <i class="icon icon-plane" style="position:absolute;"></i>
                                <span style="margin-left:17%;">@FindASupplierTextConstants.SidebarSixthHeader</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-start align-items-center">
                                <i class="icon icon-chart" style="margin-right:87%;position:absolute;"></i>
                                <span style="margin-left:17%;white-space:nowrap;">@FindASupplierTextConstants.SidebarSeventhHeader</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-start align-items-center">
                                <i class="icon icon-drawer" style="position:absolute; margin-right:87%;"></i>
                                <span style="margin-left:17%;">@FindASupplierTextConstants.SidebarEighthHeader</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </aside>
        </div>
    </div>
</section>

<!-- About -->
<section id="about" class="section-2 highlights image-right">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 pr-md-5 align-self-center text-center text-md-left text">
                <div data-aos="fade-up" class="row intro">
                    <div class="col-12 p-0">
                        <span class="pre-title m-auto m-md-0">@FindASupplierTextConstants.AboutSectionSubHeader</span>
                        <h2><span class="featured"><span>@FindASupplierTextConstants.AboutSectionHighlightedHeader</span></span>@FindASupplierTextConstants.AboutSectionHeader</h2>
                        <p>@FindASupplierTextConstants.AboutSectionSummary</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 pr-md-5 align-self-center text-center text-md-left text">
                <div class="row items">
                    <div data-aos="fade-up" class="col-12 col-md-6  pr-md-4 item">
                        <h4><i class="mr-2 icon-badge"></i>@FindASupplierTextConstants.AboutSectionSummaryHeaderOne</h4>
                        <p>@FindASupplierTextConstants.AboutSectionSummaryOne</p>
                    </div>
                    <div data-aos="fade-up" class="col-12 col-md-6  item">
                        <h4><i class="mr-2 icon-lock"></i>@FindASupplierTextConstants.AboutSectionSummaryHeaderTwo</h4>
                        <p>@FindASupplierTextConstants.AboutSectionSummaryTwo</p>
                    </div>
                </div>
                <div class="row items">
                    <div data-aos="fade-up" class="col-12 col-md-6  item">
                        <h4><i class="mr-2 icon-note"></i>@FindASupplierTextConstants.AboutSectionSummaryHeaderThree</h4>
                        <p>@FindASupplierTextConstants.AboutSectionSummaryThree</p>
                    </div>
                    <div data-aos="fade-up" class="col-12 col-md-6  pr-md-4 item">
                        <h4><i class="mr-2 icon-graduation"></i>@FindASupplierTextConstants.AboutSectionSummaryFourHeader</h4>
                        <p>@FindASupplierTextConstants.AboutSectionSummaryFour</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- About 2 -->
<section id="about-2" class="section-1 odd highlights team image-right">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-8 align-self-top text">
                <div class="row intro m-0">
                    <div class="col-12 p-0">
                        <h2><span class="featured"><span>@FindASupplierTextConstants.InnovationHighlightedHeader</span></span>@FindASupplierTextConstants.InnovationHeader</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 p-0 pr-md-5">
                        <p>@FindASupplierTextConstants.InnovationDescriptionFirstParagraph</p>
                        <p>@FindASupplierTextConstants.InnovationDescriptionSecondParagraph</p>
                    </div>
                </div>

                <!-- Action -->
                <div data-aos="fade-up" class="buttons">
                    <div class="d-sm-inline-flex mt-4">
                        <a href="#contact" class="smooth-anchor mt-4 btn primary-button">@TextConstants.GetInTouchButtonName</a>
                    </div>
                </div>
            </div>
            <div data-aos="zoom-in" class="col-12 col-lg-4 align-self-end">
                <div class="quote">
                    <div class="quote-content">
                        <p>@FindASupplierTextConstants.InnovationQuoteSectionDescriptionFirstParagraph</p>
                        <p>@FindASupplierTextConstants.InnovationQuoteSectionDescriptionSecondParagraph</p>
                    </div>
                    <i class="quote-right fas fa-quote-right"></i>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Contact -->
@{
    await Html.RenderPartialAsync("PartialViews/GetInTouchPartialView");
}
