

@{
    ViewData["Title"] = "Service";
}


<!-- Hero -->
<section id="slider" class="hero p-0 odd featured">
    <div class="swiper-container no-slider animation slider-h-50 slider-h-auto">
        <div class="swiper-wrapper">

            <!-- Item 1 -->
            <div class="swiper-slide slide-center">

                <!-- Media -->
                <!-- This is a test image, after being provided a new one we will swap it with a constant value for the images-->
                <div class="parallax-y-bg" style="background-image:url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS0hmEAW9_54964Jfje_da_3oOhyzno51pR5A&s')"></div>
               

                <div class="slide-content row text-center">
                    <div class="col-12 mx-auto inner">

                        <!-- Content -->
                        <nav data-aos="zoom-out-up" data-aos-delay="800" aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">@TextConstants.ServiceOneHeader</li>
                            </ol>
                        </nav>
                        <h1 class="mb-0 title effect-static-text">@TextConstants.FindASupplierServicePageHeader</h1>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<!-- Single -->
<section id="single" class="section-0 single">
    <div class="container">
        <div class="row">

            <!-- Main -->
            <div class="col-12 col-lg-8 p-0 text">
                <div class="row intro m-0">
                    <div class="col-12">
                        <span class="pre-title m-0">@TextConstants.FirstPartLogoName@TextConstants.SecondPartLogoName</span>
                        <span class="pre-title m-0">@TextConstants.FindASupplierServicePageSubHeader</span>
                        <div class="title-icon">
                            <h2><span class="featured"><span><i class="icon icon-organization"></i>@TextConstants.FindASupplierServicePageInformationHeader </span></span> </h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 align-self-center">
                        <p>@TextConstants.FindASupplierServicePageInformationFirstParagraph</p>
                        <blockquote>@TextConstants.FindASupplierServicePageInformationQuoteText</blockquote>
                        <p>@TextConstants.FindASupplierServicePageInformationSecondParagraph</p>
                        <strong>@TextConstants.FindASupplierServicePageInformationFirstBulletHeader</strong>
                        <ul>
                            <li>@TextConstants.FindASupplierServicePageInformationFirstBulletParagraph</li>
                        </ul>
                        <strong>@TextConstants.FindASupplierServicePageInformationSecondBulletHeader</strong>
                        <ul>
                            <li>@TextConstants.FindASupplierServicePageInformationSecondBulletParagraph</li>
                        </ul>
                        <p>@TextConstants.FindASupplierServicePageInformationFinalParagraph</p>
                        <blockquote>@TextConstants.FindASupplierServicePageInformationFinalMessage</blockquote>
                    </div>
                </div>
            </div>

            <!-- Sidebar -->
            <aside class="col-12 col-lg-4 pl-lg-5 p-0 float-right sidebar">
                <div class="row">
                    <div class="col-12 align-self-center text-left">
                        <h4>@TextConstants.FindASupplierServicePageServiceMappingHeader</h4>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item d-flex justify-content-start align-items-center" style="text-align:left;">
                                <i class="icon icon-organization" style="margin-right:20%; position:absolute;"></i>
                                <span style="text-align:center; margin-left:18%;white-space:nowrap;">@TextConstants.FindASupplierServicePageSidebarFirstHeader</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-start align-items-center">
                                <i class="icon icon-globe-alt" style="margin-right:25%; position:absolute;"></i>
                                <span style="text-align:center; margin-left:18%;white-space:nowrap;"> @TextConstants.FindASupplierServicePageSidebarSecondHeader</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-start align-items-center">
                                <i class="icon icon-layers" style="margin-right:25%; position:absolute;"></i>
                                <span style="margin-left:18%;"> @TextConstants.FindASupplierServicePageSidebarThirdHeader</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-start align-items-center">
                                <i class="icon icon-pie-chart" style="margin-right:13%; position:absolute;"></i>
                                <span style="text-align:center; margin-left:17%;white-space:nowrap;">@TextConstants.FindASupplierServicePageSidebarFourthHeader</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-start align-items-center">
                                <i class="icon icon-briefcase" style="position:absolute;"></i>
                                <span style="margin-left:17%;">@TextConstants.FindASupplierServicePageSidebarFifthHeader</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-start align-items-center">
                                <i class="icon icon-plane" style="position:absolute;"></i>
                                <span style="margin-left:17%;">@TextConstants.FindASupplierServicePageSidebarSixthHeader</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-start align-items-center">
                                <i class="icon icon-chart" style="margin-right:87%;position:absolute;"></i>
                                <span style="margin-left:17%;white-space:nowrap;">@TextConstants.FindASupplierServicePageSidebarSeventhHeader</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-start align-items-center">
                                <i class="icon icon-drawer" style="position:absolute; margin-right:87%;"></i>
                                <span style="margin-left:17%;">@TextConstants.FindASupplierServicePageSidebarEighthHeader</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </aside>
        </div>
    </div>
</section>

<!-- About -->
<section id="about" class="section-2 highlights image-right">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 pr-md-5 align-self-center text-center text-md-left text">
                <div data-aos="fade-up" class="row intro">
                    <div class="col-12 p-0">
                        <span class="pre-title m-auto m-md-0">@TextConstants.FindASupplierServicePageAboutSectionSubHeader</span>
                        <h2><span class="featured"><span>@TextConstants.FindASupplierServicePageAboutSectionHighlightedHeader</span></span>@TextConstants.FindASupplierServicePageAboutSectionHeader</h2>
                        <p>@TextConstants.FindASupplierServicePageAboutSectionSummary</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 pr-md-5 align-self-center text-center text-md-left text">
                <div class="row items">
                    <div data-aos="fade-up" class="col-12 col-md-6  pr-md-4 item">
                        <h4><i class="mr-2 icon-badge"></i>@TextConstants.FindASupplierServicePageAboutSectionSummaryHeaderOne</h4>
                        <p>@TextConstants.FindASupplierServicePageAboutSectionSummaryOne</p>
                    </div>
                    <div data-aos="fade-up" class="col-12 col-md-6  item">
                        <h4><i class="mr-2 icon-lock"></i>@TextConstants.FindASupplierServicePageAboutSectionSummaryHeaderTwo</h4>
                        <p>@TextConstants.FindASupplierServicePageAboutSectionSummaryTwo</p>
                    </div>
                </div>
                <div class="row items">
                    <div data-aos="fade-up" class="col-12 col-md-6  item">
                        <h4><i class="mr-2 icon-note"></i>@TextConstants.FindASupplierServicePageAboutSectionSummaryHeaderThree</h4>
                        <p>@TextConstants.FindASupplierServicePageAboutSectionSummaryThree</p>
                    </div>
                    <div data-aos="fade-up" class="col-12 col-md-6  pr-md-4 item">
                        <h4><i class="mr-2 icon-graduation"></i>@TextConstants.FindASupplierServicePageAboutSectionSummaryFourHeader</h4>
                        <p>@TextConstants.FindASupplierServicePageAboutSectionSummaryFour</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- About 2 -->
<section id="about-2" class="section-1 odd highlights team image-right">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-8 align-self-top text">
                <div class="row intro m-0">
                    <div class="col-12 p-0">
                        <span class="pre-title m-0">You more prepared</span>
                        <h2><span class="featured"><span>Boost </span></span> Your Creativity</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 p-0 pr-md-5">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras iaculis diam varius diam ultricies lacinia. <b>Mauris lacus tellus, ultrices eu volutpat sit amet, finibus a ipsum.</b> Nullam sit amet pretium felis.</p>
                        <p><b>Cras sem ante, accumsan quis sem sed, rutrum varius nunc.</b></p>
                    </div>
                </div>

                <!-- Action -->
                <div data-aos="fade-up" class="buttons">
                    <div class="d-sm-inline-flex mt-4">
                        <a href="#contact" class="smooth-anchor mt-4 btn primary-button">GET IN TOUCH</a>
                    </div>
                </div>
            </div>
            <div data-aos="zoom-in" class="col-12 col-lg-4 align-self-end">
                <div class="quote">
                    <div class="quote-content">
                        <h4>Consultant Speech</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent ut lacinia diam.</p>
                        <p>Vivamus efficitur et est quis posuere. Nulla sollicitudin vulputate dui, id pretium tortor congue eu. Integer aliquet justo eu quam volutpat ullamcorper.</p>
                        <h5>Jacob Hill Jr.</h5>
                    </div>
                    <i class="quote-right fas fa-quote-right"></i>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Contact -->
@{
    await Html.RenderPartialAsync("PartialViews/GetInTouchPartialView");
}
