@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<!-- Hero -->
<section id="slider" class="hero p-0 odd featured">
    <div class="swiper-container no-slider animation slider-h-50 slider-h-auto">
        <div class="swiper-wrapper">

            <!-- Item 1 -->
            <div class="swiper-slide slide-center">

                <!-- Media -->
               
                <div class="parallax-y-bg" style="background-image:url('@ImageLinks.ServicesDefaultHeaderImage')"></div>


                <div class="slide-content row text-center">
                    <div class="col-12 mx-auto inner">

                        <!-- Content -->
                        <nav data-aos="zoom-out-up" data-aos-delay="800" aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">@TextConstants.HomeLinkText</a></li>
                                <li class="breadcrumb-item active" aria-current="page">@TextConstants.ServiceThreeHeader</li>
                            </ol>
                        </nav>
                        <h1 class="mb-0 title effect-static-text">@TalentDevelopmentTextConstants.Header</h1>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<!-- Single -->
<section id="single" class="section-0 single">
    <div class="container">
    <div class="row">

        <!-- Main -->
        <div class="col-12 col-lg-8 p-0 text">
            <div class="row intro m-0">
                <div class="col-12">
                    <span class="pre-title m-0">@TextConstants.FirstPartLogoName@TextConstants.SecondPartLogoName</span>
                    <span class="pre-title m-0">@TalentDevelopmentTextConstants.SubHeader</span>
                    <div class="title-icon">
                        <h2><span class="featured"><span><i class="icon icon-chart"></i>@TalentDevelopmentTextConstants.InformationHighlightedHeader</span></span>@TalentDevelopmentTextConstants.InformationHeader</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 align-self-center">
                    <p>@TalentDevelopmentTextConstants.InformationFirstParagraph</p>
                    <strong>@TalentDevelopmentTextConstants.InformationFirstBulletHeader</strong>
                    <ul>
                        <li>@TalentDevelopmentTextConstants.InformationFirstBulletParagraph <a asp-controller="Information" asp-action="SinglePost" asp-route-recordId="12">@TalentDevelopmentTextConstants.InformationParagraphLinkText</a></li>
                    </ul>
                    <strong>@TalentDevelopmentTextConstants.InformationSecondBulletHeader</strong>
                    <ul>
                            <li>@TalentDevelopmentTextConstants.InformationSecondBulletParagraph <a asp-controller="Information" asp-action="SinglePost" asp-route-recordId="14">@TalentDevelopmentTextConstants.InformationParagraphLinkText</a></li>
                    </ul>
                    <strong>@TalentDevelopmentTextConstants.InformationThirdBulletHeader</strong>
                    <ul>
                            <li>@TalentDevelopmentTextConstants.InformationThirdBulletParagraph <a asp-controller="Information" asp-action="SinglePost" asp-route-recordId="13">@TalentDevelopmentTextConstants.InformationParagraphLinkText</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    </div>
            </section>
<!-- About -->
<section id="about" class="section-2 highlights image-right">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 pr-md-5 align-self-center text-center text-md-left text">
                <div data-aos="fade-up" class="row intro">
                    <div class="col-12 p-0">
                        <span class="pre-title m-auto m-md-0">@TalentDevelopmentTextConstants.AboutSectionSubHeader</span>
                        <h2><span class="featured"><span>@TalentDevelopmentTextConstants.AboutSectionHighlightedHeader</span></span>@TalentDevelopmentTextConstants.AboutSectionHeader</h2>
                        <p>@TalentDevelopmentTextConstants.AboutSectionSummary</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 pr-md-5 align-self-center text-center text-md-left text">
                <div class="row items">
                    <div data-aos="fade-up" class="col-12 col-md-6  pr-md-4 item">
                        <h4><i class="mr-2 icon-badge"></i>@TalentDevelopmentTextConstants.AboutSectionSummaryHeaderOne</h4>
                        <p>@TalentDevelopmentTextConstants.AboutSectionSummaryOne</p>
                    </div>
                    <div data-aos="fade-up" class="col-12 col-md-6  item">
                        <h4><i class="mr-2 icon-lock"></i>@TalentDevelopmentTextConstants.AboutSectionSummaryHeaderTwo</h4>
                        <p>@TalentDevelopmentTextConstants.AboutSectionSummaryTwo</p>
                    </div>
                </div>
                <div class="row items">
                    <div data-aos="fade-up" class="col-12 col-md-6  item">
                        <h4><i class="mr-2 icon-note"></i>@TalentDevelopmentTextConstants.AboutSectionSummaryHeaderThree</h4>
                        <p>@TalentDevelopmentTextConstants.AboutSectionSummaryThree</p>
                    </div>
                    <div data-aos="fade-up" class="col-12 col-md-6  pr-md-4 item">
                        <h4 style="white-space: nowrap;"><i class="mr-2 icon-graduation"></i>@TalentDevelopmentTextConstants.AboutSectionSummaryFourHeader</h4>
                        <p>@TalentDevelopmentTextConstants.AboutSectionSummaryFour</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- About 2 -->
<section id="about-2" class="section-1 odd highlights team image-right">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-8 align-self-top text">
                <div class="row intro m-0">
                    <div class="col-12 p-0">
                                    <h2>@TalentDevelopmentTextConstants.InnovationHeader<span class="featured"><span>@TalentDevelopmentTextConstants.InnovationHighlightedHeader</span></span></h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 p-0 pr-md-5">
                        <p><b>@TalentDevelopmentTextConstants.InnovationDescriptionFirstParagraph</b></p>
                        <p>@TalentDevelopmentTextConstants.InnovationDescriptionSecondParagraph</p>
                    </div>
                </div>

                <!-- Action -->
                <div data-aos="fade-up" class="buttons">
                    <div class="d-sm-inline-flex mt-4">
                        <a href="#contact" class="smooth-anchor mt-4 btn primary-button">@TextConstants.GetInTouchButtonName</a>
                    </div>
                </div>
            </div>
            <div data-aos="zoom-in" class="col-12 col-lg-4 align-self-end">
                <div class="quote">
                    <div class="quote-content">
                        <p>@TalentDevelopmentTextConstants.InnovationQuoteSectionDescriptionFirstParagraph</p>
                        <p>@TalentDevelopmentTextConstants.InnovationQuoteSectionDescriptionSecondParagraph</p>
                    </div>
                    <i class="quote-right fas fa-quote-right"></i>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Contact -->
@{
    await Html.RenderPartialAsync("PartialViews/GetInTouchPartialView");
}