@{
    ViewData["Title"] = @TextConstants.AboutUsPageTitle;
}

@section PageMeta
{
    <meta name="description" content="@TextConstants.AboutUsPageDescriptionTag">
    <meta name="keywords" content="@TextConstants.AboutUsPageKeyWords">
    <meta name="robots" content="index, follow">
    <link rel="canonical" href="https://sinoxpert.eu/About/About"/>
}


<!-- Hero -->
<section id="slider" class="hero p-0 odd featured">
    <div class="swiper-container no-slider animation slider-h-50 slider-h-auto">
        <div class="swiper-wrapper">

            <!-- Item 1 -->
            <div class="swiper-slide slide-center">

                <!-- Media -->
                <img src="@ImageLinks.AboutUsHeaderImage" alt="@TextConstants.AboutUsHeaderImageAlt" class="full-image" data-mask="10">

                <div class="slide-content row text-center">
                    <div class="col-12 mx-auto inner">

                        <!-- Content -->
                        <nav data-aos="zoom-out-up" data-aos-delay="800" aria-label="breadcrumb" style="margin-top:10%;">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">@TextConstants.HomeLinkText</a></li>
                                <li class="breadcrumb-item active" aria-current="page">@TextConstants.AboutUsLinkText</li>
                            </ol>
                        </nav>
                        @* <h1 class="mb-0 title effect-static-text">@TextConstants.AboutUsHeaderText</h1> *@
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<!-- About -->
<section id="about" class="section-3 highlights team image-right">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-8 align-self-top text">
                <div class="row intro m-0">
                    <div class="col-12 p-0">
                        <span class="pre-title m-0">@TextConstants.AboutUsMainSectionSubHeader</span>
                        <h2><span class="featured"><span>@TextConstants.AboutUsMainSectionHeaderSpan</span></span>@TextConstants.AboutUsMainSectionHeader</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 p-0 pr-md-5">
                        <p>@TextConstants.AboutUsMainSectionFirstParagraph</p>
                        <p>@TextConstants.AboutUsMainSectionSecondParagraph</p>
                        <p>@TextConstants.AboutUsMainSectionThirdParagraph</p>
                    </div>
                </div>
            </div>
            <div data-aos="zoom-in" class="col-12 col-lg-4">
                <div class="quote mt-5 mt-lg-0">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item d-flex justify-content-center align-items-center">
                            <a><i class="icon icon-rocket"></i></a>
                            <div class="list-group-content">
                                <h4>@TextConstants.AboutUsMainSectionSideBarHeaderOne</h4>
                                <p>@TextConstants.AboutUsMainSectionSideBarSummaryOne</p>
                            </div>
                        </li>
                        <li class="list-group-item d-flex justify-content-center align-items-center">
                            <a><i class="icon icon-eye"></i></a>
                            <div class="list-group-content">
                                <h4>@TextConstants.AboutUsMainSectionSideBarHeaderTwo</h4>
                                <p>@TextConstants.AboutUsMainSectionSideBarSummaryTwo</p>
                            </div>
                        </li>
                        <li class="list-group-item d-flex justify-content-center align-items-center">
                            <a><i class="icon icon-present"></i></a>
                            <div class="list-group-content">
                                <h4>@TextConstants.AboutUsMainSectionSideBarHeaderThree</h4>
                                <p>@TextConstants.AboutUsMainSectionSideBarSummaryThree</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- About 2 -->
<section id="about-2" class="section-1 odd highlights image-right counter funfacts featured">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 pr-md-5 align-self-top text">
                <div data-aos="fade-up" class="row intro m-0 m-md-auto">
                    <div class="col-12 p-0">
                        <h2>@TextConstants.AboutUseResultSectionHeader<span class="featured"><span>@TextConstants.AboutUsResultSectionHeaderSpan</span></span></h2>
                        <p>@TextConstants.AboutUsResultSectionFirstParagraph</p>
                        <p>@TextConstants.AboutUsResultSectionSecondParagraph</p>
                        <blockquote>@TextConstants.AboutUsResultSectionHighlightedParagraph</blockquote>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 pr-md-5 align-self-top text">
                <div class="row items">
                    <div data-aos="fade-up" class="col-12 col-md-6 p-0 pr-md-4 mb-2 item">
                        <h4>@TextConstants.AboutUsResultSectionValuesHeaderOne</h4>
                        <p>@TextConstants.AboutUsResultSectionValuesSummaryOne</p>
                    </div>
                    <div data-aos="fade-up" class="col-12 col-md-6 p-0 pr-md-4 mb-2 item">
                        <h4>@TextConstants.AboutUsResultSectionValuesHeaderTwo</h4>
                        <p>@TextConstants.AboutUsResultSectionValuesSummaryTwo</p>
                    </div>
                </div>
                <div class="row items">
                    <div data-aos="fade-up" class="col-12 col-md-6 p-0 pr-md-4 mb-2 item">
                        <h4>@TextConstants.AboutUsResultSectionValuesHeaderThree</h4>
                        <p>@TextConstants.AboutUsResultSectionValuesSummaryThree</p>
                    </div>
                    <div data-aos="fade-up" class="col-12 col-md-6 p-0 pr-md-4 mb-2 item">
                        <h4>@TextConstants.AboutUsResultSectionValuesHeaderFour</h4>
                        <p>@TextConstants.AboutUsResultSectionValuesSummaryFour</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- About 3 -->
<section id="about-3" class="section-2 highlights image-right featured">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 pr-md-5 align-self-center text-center text-md-left text">
                <div data-aos="fade-up" class="row intro">
                    <div class="col-12 p-0">
                        <span class="pre-title m-auto m-md-0">@TextConstants.AboutUsServiceSectionSubHeader</span>
                        <h2>@TextConstants.AboutUsServiceSectionHeader<span class="featured"><span>@TextConstants.AboutUsServiceSectionHeaderSpan</span></span> </h2>
                        <p>@TextConstants.AboutUsServiceSectionSummary</p>
                    </div>
                </div>
                <div class="row items">
                    <div data-aos="fade-up" class="col-12 col-md-6 p-0 pr-md-4 item">
                        <h4><i class="mr-2 icon-badge"></i>@TextConstants.AboutUsServiceSectionValuesHeaderOne</h4>
                        <p>@TextConstants.AboutUsServiceSectionValuesSummaryOne</p>
                    </div>
                    <div data-aos="fade-up" class="col-12 col-md-6 p-0 item">
                        <h4><i class="mr-2 icon-lock"></i>@TextConstants.AboutUsServiceSectionValuesHeaderTwo</h4>
                        <p>@TextConstants.AboutUsServiceSectionValuesSummaryTwo</p>
                    </div>
                </div>
                <div class="row items">
                    <div data-aos="fade-up" class="col-12 col-md-6 p-0 item">
                        <h4><i class="mr-2 icon-note"></i>@TextConstants.AboutUsServiceSectionValuesHeaderThree</h4>
                        <p>@TextConstants.AboutUsServiceSectionValuesSummaryThree</p>
                    </div>
                    <div data-aos="fade-up" class="col-12 col-md-6 p-0 pr-md-4 item">
                        <h4><i class="mr-2 icon-graduation"></i>@TextConstants.AboutUsServiceSectionValuesHeaderFour</h4>
                        <p>@TextConstants.AboutUsServiceSectionValuesSummaryFour</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 p-0 image">
                <img src="@ImageLinks.AboutUsAboutSectionImage" class="fit-image" alt="@TextConstants.AboutUsAboutSectionImageAlt">
            </div>
        </div>
    </div>
</section>

                        
@{ await Html.RenderPartialAsync("PartialViews/GetInTouchPartialView");}