
@{
    ViewData["Title"] = @TextConstants.CookiesStatementPageTitle;
}

@section PageMeta
{
    <meta name="keywords" content="@TextConstants.CookiesStatementPageKeywords">
    <meta name="robots" content="noindex, follow">
}

<!-- Hero -->
    <section id="slider" class="hero p-0 odd featured">
        <div class="swiper-container no-slider animation slider-h-50 slider-h-auto">
            <div class="swiper-wrapper">

                <!-- Item 1 -->
                <div class="swiper-slide slide-center">

                    <!-- Media -->
                    <img src="@ImageLinks.CookiesStatementHeaderImage" alt="@TextConstants.CookiesStatementHeaderImageAlt" class="full-image" data-mask="30">

                    <div class="slide-content row text-center">
                        <div class="col-12 mx-auto inner">

                            <!-- Content -->
                            <nav data-aos="zoom-out-up" data-aos-delay="800" aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a asp-controller="Home"asp-action="Index">@TextConstants.HomeLinkText</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">@TextConstants.CookiesStatementLinkText</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <section id="cookies-info" class="section-2 cookies">
        <div class="container">
            <div class="row">
                <!-- Main -->
                <div class="col-12 col-lg-8 p-0 text">
                    <div class="row intro m-0">
                        <div class="col-12">
                            <span class="pre-title m-0">@TextConstants.CookiesPageSubHeader</span>
                            <div class="title-icon">
                                <h2><span class="featured"><span><i class="icon icon-info"></i> @TextConstants.CookiesPageHeaderSpan </span></span> @TextConstants.CookiesPageHeader</h2>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 align-self-center">
                            <p>@TextConstants.CookiesPageFirstParagraph</p>
                            <h3>@TextConstants.CookiesPageFirstHeader</h3>
                            <ul>
                                <li>
                                    <strong>@TextConstants.CookiesPageBulletHeaderOne</strong> @TextConstants.CookiesPageBulletSummaryOne
                                    <ul>
                                        <li>@TextConstants.CookiesPageExampleText <em>@TextConstants.CookiesPageExampleItalicTextOne</em>@TextConstants.CookiesPageExampleParagraphOne</li>
                                    </ul>
                                </li>
                                <li>
                                    <strong>@TextConstants.CookiesPageBulletHeaderTwo</strong> @TextConstants.CookiesPageBulletSummaryTwo
                                    <ul>
                                        <li>@TextConstants.CookiesPageExampleText<em>@TextConstants.CookiesPageExampleItalicTextTwo</em> @TextConstants.CookiesPageExampleParagraphTwo</li>
                                        <li>@TextConstants.CookiesPageExampleText<em>@TextConstants.CookiesPageExampleItalicTextThree</em> @TextConstants.CookiesPageExampleParagraphThree</li>
                                    </ul>
                                </li>
                                <li>
                                    <strong>@TextConstants.CookiesPageBulletHeaderThree</strong> @TextConstants.CookiesPageBulletSummaryThree
                                    <ul>
                                        <li>@TextConstants.CookiesPageExampleText<em>@TextConstants.CookiesPageExampleItalicTextTFour</em> @TextConstants.CookiesPageExampleParagraphFour</li>
                                    </ul>
                                </li>
                            </ul>
                            <p>@TextConstants.CookiesPageFirstHeadingFinalParagraph</p>
                            <h3>@TextConstants.CookiesPageSecondHeader</h3>
                        <p>@TextConstants.CookiesPageSecondParagraphFirstPart<a id="cookieSettingsButton" href="@TextConstants.CookiesPageSettingLink" target="_blank">@TextConstants.CookiesPageSettingLinkText</a> @TextConstants.CookiesPageSecondParagraphSecondPart</p>
                            <p>@TextConstants.CookiesPageLastParagraph<a asp-controller="About" asp-action="Privacy" target="_blank">@TextConstants.CookiesPagePrivacyLinkText</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>



    @{ await Html.RenderPartialAsync("PartialViews/GetInTouchPartialView");}
    
                        
