
@{
    ViewData["Title"] = @TextConstants.PrivacyPolicyPageTitle;
}

@section PageMeta
{
    <meta name="description" content="Business, Consulting, Finance, Insurance, Startup and Technology">
    <meta name="keywords" content="@TextConstants.PrivacyStatementPageKeywords">
    <meta name="robots" content="noindex, follow">
}

<!-- Hero -->
<section id="slider" class="hero p-0 odd featured">
    <div class="swiper-container no-slider animation slider-h-50 slider-h-auto">
        <div class="swiper-wrapper">

            <!-- Item 1 -->
            <div class="swiper-slide slide-center">

                <!-- Media -->
                <img src="@ImageLinks.PrivacyPolicyHeaderImage" alt="@TextConstants.PrivacyPolicyHeaderImageAlt" class="full-image" data-mask="10">

                <div class="slide-content row text-center">
                    <div class="col-12 mx-auto inner">

                        <!-- Content -->
                        <nav data-aos="zoom-out-up" data-aos-delay="800" aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">@TextConstants.HomeLinkText</a></li>
                                <li class="breadcrumb-item active" aria-current="page">@TextConstants.PrivacyPolicyLinkText</li>
                            </ol>
                        </nav>
                       
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<section id="privacy" class="section-2 single">
    <div class="container">
        <div class="row">
            <!-- Main -->
            <div class="col-12 col-lg-8 p-0 text">
                <div class="row intro m-0">
                    <div class="col-12">
                        <span class="pre-title m-0">@TextConstants.PrivacyPageSubHeader</span>
                        <div class="title-icon">
                            <h2><span class="featured"><span><i class="icon icon-lock"></i>@TextConstants.PrivacyPageHeaderSpan</span></span>@TextConstants.PrivacyPageHeader</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 align-self-center">
                        <p>@TextConstants.PrivacyPageFirstParagraph</p>

                        <h3>@TextConstants.PrivacyFirstHeader</h3>
                        <p>@TextConstants.PrivacyFirstHeaderParagraph</p>
                        <ul>
                            <li><strong>@TextConstants.PrivacyFirstHeaderBulletOne</strong>@TextConstants.PrivacyFirstHeaderBulletOneSummary</li>
                            <li><strong>@TextConstants.PrivacyFirstHeaderBulletTwo</strong>@TextConstants.PrivacyFirstHeaderBulletTwoSummary</li>
                            <li><strong>@TextConstants.PrivacyFirstHeaderBulletThree</strong>@TextConstants.PrivacyFirstHeaderBulletThreeSummary</li>
                            <li><strong>@TextConstants.PrivacyFirstHeaderBulletFour</strong>@TextConstants.PrivacyFirstHeaderBulletFourSummaryOne<a asp-controller="About" asp-action="CookiesStatement" target="_blank">@TextConstants.PrivacyFirstHeaderBulletFourSummaryLinkText</a>@TextConstants.PrivacyFirstHeaderBulletFourSummaryTwo</li>
                        </ul>

                        <h3>@TextConstants.PrivacySecondHeader</h3>
                        <p>@TextConstants.PrivacySecondHeaderFirstParagraph</p>
                        <ul>
                            <li>@TextConstants.PrivacySecondHeaderListOne</li>
                            <li>@TextConstants.PrivacySecondHeaderListTwo</li>
                            <li>@TextConstants.PrivacySecondHeaderListThree</li>
                        </ul>

                        <h3>@TextConstants.PrivacyThirdHeader</h3>
                        <p>@TextConstants.PrivacyThirdHeaderParagraph<a asp-controller="About" asp-action="CookiesStatement" target="_blank">@TextConstants.PrivacyThirdHeaderParagraphLinkText</a></p>

                        <h3>@TextConstants.PrivacyFourthHeader</h3>
                        <p>@TextConstants.PrivacyFourthHeaderParagraph</p>

                        <h3>@TextConstants.PrivacyFifthHeader</h3>
                        <p>@TextConstants.PrivacyFifthHeaderParagraph</p>
                        <ul>
                            <li>@TextConstants.PrivacyFifthHeaderListOne</li>
                            <li>@TextConstants.PrivacyFifthHeaderListTwo</li>
                            <li>@TextConstants.PrivacyFifthHeaderListThree</li>
                        </ul>

                        <h3>@TextConstants.PrivacySixthHeader</h3>
                        <p>@TextConstants.PrivacySixthHeaderParagraph</p>

                        <h3>@TextConstants.PrivacySeventhHeader</h3>
                        <p>@TextConstants.PrivacySeventhHeaderParagraph<a href="#contact">@TextConstants.PrivacySeventhHeaderParagraphLinkText</a></p>

                        <h3>@TextConstants.PrivacyEightHeader</h3>
                        <p>@TextConstants.PrivacyEightHeaderParagraph</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>




@{
    await Html.RenderPartialAsync("PartialViews/GetInTouchPartialView");
}


