
@{
    ViewData["Title"] = @TextConstants.InformationPageTitle;
}

@section PageMeta
{
    <meta name="description" content="@TextConstants.InformationPageDescription">
    <meta name="keywords" content="@TextConstants.InformationPageKeyWords">
    <meta name="robots" content="index, nofollow">
    <link rel="canonical" href="https://sinoxpert.eu/Information" />
}

<!-- Hero -->
<section id="slider" class="hero p-0 odd featured">
    <div class="swiper-container no-slider animation slider-h-50 slider-h-auto">
        <div class="swiper-wrapper">

            <!-- Item 1 -->
            <div class="swiper-slide slide-center">

                <!-- Media -->
                <img src="@ImageLinks.InformationHeaderImage" alt="@TextConstants.InformationPageHeaderAlt" class="full-image">

                <div class="slide-content row text-center">
                    <div class="col-12 mx-auto inner">

                        <!-- Content -->
                        <nav data-aos="zoom-out-up" data-aos-delay="800" aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">@TextConstants.HomeLinkText</a></li>
                                <li class="breadcrumb-item active" aria-current="page">@TextConstants.InformationPageLinkText</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<!-- Information -->
<section id="blog" class="section-2 showcase blog-grid filter-section projects">
    <div class="overflow-holder">
        <div class="container">
            <div class="row justify-content-center text-center">
                <div class="col-12">
                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                        <label class="btn active">
                            <input type="radio" value="all" checked class="btn-filter-item">
                            <span>All</span>
                        </label>
                        @{
                            foreach (string category in Enum.GetNames(typeof(InformationCategories)))
                            {
                                            <label class="btn">
                                                <input type="radio" value="@category" class="btn-filter-item">
                                                <span>@category</span>
                                            </label>
                            }
                        }
                    </div>
                </div>
            </div>
            
            <!-- Information -->
            <div id="informationPostsListViewPlaceholder">
                <div class="informationLoader"></div>
            </div>

        </div>
    </div>
</section>

<!-- MostViewed -->


<section id="result" class="section-3 showcase blog-grid projects">
    <div class="container">
        <div class="row items">
            <div class="col-12 col-md-4 pr-md-5 text">
                <div data-aos="fade-up" class="row intro">
                    <div class="col-12 p-0">
                        <span class="pre-title m-0">Featured posts</span>
                        <h2 class="mb-3">Most<br>Viewed<br>This Month</h2>
                    </div>
                </div>
            </div>
            
            <div id="informationPostsMostViewedPlaceholder">
                <div class="informationLoader"></div>
            </div>
          
        </div>
    </div>
</section>

<!-- Subscribe -->
@{ await Html.RenderPartialAsync("PartialViews/SubscribeToNewsLetterPartialView");}

                        
@{ await Html.RenderPartialAsync("PartialViews/GetInTouchPartialView");}

@section Scripts
{
    <script type="text/javascript">


        $(document).ready(function () {

            // Load the partial view asynchronously
            $("#informationPostsListViewPlaceholder").load('@Url.Action("InformationThumbnailListViewPartial", "Information")', function (response, status, xhr) {
                if (status == "error") {
                    // If there's an error, show a message (optional)
                    $("#informationPostsListViewPlaceholder").html('<p>Error loading information. Please try again later.</p>');
                }
            });

        });
    </script> 
    
    <script type="text/javascript">

        // Handle category button click
        $(".btn-filter-item").on("click", function () {
            var selectedCategory = $(this).val();

            if (selectedCategory == "all") {
                selectedCategory = null;
            }

            $("#informationPostsListViewPlaceholder").html('<div class="informationLoader"></div>');

            // Load the partial view asynchronously based on the selected category
            $("#informationPostsListViewPlaceholder").load('@Url.Action("InformationThumbnailListViewPartial", "Information")', { category: selectedCategory }, function (response, status, xhr) {
                if (status === "nocontent") {
                    $("#informationPostsListViewPlaceholder").html('<div class="no-content-message">No information posts found for this category.</div>');
                }
                else if (status == "error") {
                    $("#informationPostsListViewPlaceholder").html('<p>Error loading information. Please try again later.</p>');
                }
            });
        });

    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            // Define the number of posts you want to load
            var numberOfPosts = 2; // Set the desired number here

            // Load the partial view asynchronously and replace the placeholder div with the loaded content
            $.get('@Url.Action("MostViewedInformationPostsPartialView", "Information")', { numberOfPosts: numberOfPosts }, function (data, status) {
                if (status === "success") {
                    // Replace the placeholder div with the loaded content
                    $("#informationPostsMostViewedPlaceholder").replaceWith(data);
                } else {
                    // If there's an error, optionally show a message
                    $("#informationPostsMostViewedPlaceholder").replaceWith('<p>Error loading information. Please try again later.</p>');
                }
            });
        });
    </script>
    

    
    <script src="/assets/js/informationScipts.js"></script>
}
