@using MiddleManServices.ApiServices.QuickBase.ServiceModels
@model InformationSinglePostViewModel
@{
    string[] postImages = Model.PostImages!.ToArray();
    ViewData["Title"] = @Model.Topic;
}

@section PageMeta {
    @*Facebook Tags *@
    <meta property="og:title" content="@Model.Topic" />
    <meta property="og:description" content="@ViewData["Description"]" />
    <meta property="og:image" content="@Model.HeaderImageUrl" />
    <meta property="og:url" content="@ViewData["CurrentUrl"]" />
    <meta property="og:type" content="article" />
    
    @*Twitter Tags *@
    <meta name="twitter:card" content="@Model.HeaderImageUrl">
    <meta name="twitter:title" content="@Model.Topic">
    <meta name="twitter:description" content="@ViewData["Description"]">
    <meta name="twitter:image" content="@ViewData["CurrentUrl"]">

    @*SOE Tags *@
    <meta name="description" content="@ViewData["Description"]">
    <meta name="keywords" content="@ViewData["KeyWords"]">
    <meta name="robots" content="index, nofollow">

    <link rel="canonical" href="@ViewData["CurrentUrl"]" />
    
}

<!-- Hero -->
<section id="slider" class="hero p-0 odd featured">
    <div class="swiper-container no-slider animation slider-h-50 slider-h-auto">
        <div class="swiper-wrapper">

            <!-- Item 1 -->
            <div class="swiper-slide slide-center">

                <!-- Media -->
                <img src="@Model.HeaderImageUrl" alt="@TextConstants.SingleInformationPostHeaderAlt" class="full-image" data-mask="10">

                <div class="slide-content row text-center">
                    <div class="col-12 mx-auto inner">

                        <!-- Content -->
                        <nav data-aos="zoom-out-up" data-aos-delay="800" aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">@TextConstants.HomeLinkText</a></li>
                                <li class="breadcrumb-item active" aria-current="page">@Model.Topic</li>
                            </ol>
                        </nav>

                        <h1 class="mb-0 title effect-static-text" style="white-space: break-spaces;">@Model.Topic</h1>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<!-- Single -->
<section id="single" class="section-3 single">
    <div class="container">
        <div class="row content">

            <!-- Main -->
            <div class="col-12 col-lg-8 p-0 text">

                <!-- Text -->
                <div class="row intro">
                    <div class="col-12">
                        <span class="pre-title m-0">@Model.Category</span>
                        <h2 class="mb-0">@Model.Topic</h2>
                    </div>

                </div>

                <div class="row">
                    <div class="col-12 align-self-center">
                        @Html.Raw(Model.FirstParagraph)
                        <div class="mb-5 gallery">
                            <a href="@Model.SectionImageUrl" class="square-image d-flex justify-content-center align-items-center">
                                <img src="@Model.SectionImageUrl" class="fit-image" alt="@TextConstants.SingleInformationPostSectionAlt">
                            </a>
                        </div>

                        @Html.Raw(Model.SecondParagraph)
                    </div>
                </div>

                <!-- Gallery -->
                <div class="gallery row justify-content-center">
                    @{
                        if (@postImages.Any())
                        {
                            for (int i = 0; i < 4 && i<postImages.Length; i++)
                            {
                                <a class="col-6 item" href="@postImages[i]">
                                    <img src="@postImages[i]" alt="@TextConstants.SingleInformationPostGalleryAlt" class="w-100">
                                </a>
                            }
                        }
                    }
                </div>
            </div>

            <!-- Sidebar -->
            <aside class="col-12 col-lg-4 pl-lg-5 p-0 float-right sidebar">

                <!-- Share -->
                <div class="row item widget-share">
                    <div class="col-12 align-self-center">
                        <h4 class="title">@TextConstants.SinglePostShareSideBarHeader</h4>
                        <ul class="navbar-nav social share-list">
                            <li class="nav-item">
                                <a href="#" class="nav-link" onclick="shareOnFacebook()"><i class="fab fa-facebook-f ml-0"></i></a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link" onclick="shareOnTwitter()"><i class="fab fa-twitter"></i></a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link" onclick="shareOnLinkedIn()"><i class="fab fa-linkedin-in"></i></a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link" onclick="shareViaEmail()"><i class="fas fa-envelope mr-2"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>


                <!-- Services -->
                <div class="row item widget-services">
                    <div class="col-12 align-self-center">
                        <h4 class="title">@TextConstants.SinglePostServicesSideBarHeader</h4>
                        <div class="quote">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item d-flex justify-content-start align-items-center">
                                    <a asp-controller="Service" asp-action="FindASupplier"><i class="icon icon-organization"></i></a>
                                    <div class="list-group-content">
                                        <h4>@TextConstants.ServiceOneHeader</h4>
                                    </div>
                                </li>
                                <li class="list-group-item d-flex justify-content-start align-items-center">
                                    <a asp-controller="Service" asp-action="OrganizeAFactoryTour"><i class="icon icon-briefcase"></i></a>
                                    <div class="list-group-content">
                                        <h4>@TextConstants.ServiceTwoHeader</h4>
                                    </div>
                                </li>
                                <li class="list-group-item d-flex justify-content-start align-items-center">
                                    <a asp-controller="Service" asp-action="TalentDevelopment"><i class="icon icon-chart"></i></a>
                                    <div class="list-group-content">
                                        <h4>@TextConstants.ServiceThreeHeader</h4>
                                    </div>
                                </li>
                                <li class="list-group-item d-flex justify-content-start align-items-center">
                                        <a asp-controller="Service" asp-action="ExpandYourBusiness"><i class="icon icon-plane"></i></a>
                                    <div class="list-group-content">
                                        <h4>@TextConstants.ServiceFourHeader</h4>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                
                @*Leaving in case we come back to this functionality*@

                @* <!-- Categories -->
                <div class="row item widget-categories">
                    <div class="col-12 align-self-center">
                        <h4 class="title">Categories</h4>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <a href="#">Technology</a>
                                <span class="badge circle">23</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <a href="#">Education</a>
                                <span class="badge circle">41</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <a href="#">Industry</a>
                                <span class="badge circle">26</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <a href="#">Development</a>
                                <span class="badge circle">75</span>
                            </li>
                        </ul>
                    </div>
                </div> *@


                <!-- Gallery -->
                @{
                    if (postImages.Length > 4)
                    {
                        <div class="row item widget-gallery mb-0">
                            <div class="col-12 align-self-center">
                                <h4 class="title">@TextConstants.SinglePostGallerySideBarHeader</h4>
                                <div class="gallery row justify-content-center">
                                    @{
                                        foreach (string imageUrl in postImages.Skip(4))
                                        {
                                            <a class="col-6 pl-0 item" href="@imageUrl">
                                                <img src="@imageUrl" alt="@TextConstants.SingleInformationPostGalleryAlt" class="w-100">
                                            </a>
                                        }
                                    }  
                                </div>
                            </div>
                        </div>
                    }
                }
                
            </aside>
        </div>
    </div>
</section>

<!-- MostViewed -->


<section id="result" class="section-2 showcase blog-grid projects">
    <div class="container">
        <div class="row items">
            <div class="col-12 col-md-4 pr-md-5 text">
                <div data-aos="fade-up" class="row intro">
                    <div class="col-12 p-0">
                        <span class="pre-title m-0">Featured posts</span>
                        <h2 class="mb-3">Most<br>Viewed<br>This Month</h2>
                    </div>
                </div>
            </div>

            <div id="informationPostsMostViewedPlaceholder">
                <div class="informationLoader"></div>
            </div>

        </div>
    </div>
</section>

<!-- Subscribe -->
@{ await Html.RenderPartialAsync("PartialViews/SubscribeToNewsLetterPartialView", new SubscribeToNewsLetterServiceModel());}

@{ await Html.RenderPartialAsync("PartialViews/GetInTouchPartialView", new GetInTouchServiceModel());}

@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            // Define the number of posts you want to load
            var numberOfPosts = 2; // Set the desired number here

            // Load the partial view asynchronously and replace the placeholder div with the loaded content
            $.get('@Url.Action("MostViewedInformationPostsPartialView", "Information")', { numberOfPosts: numberOfPosts }, function (data, status) {
                if (status === "success") {
                    // Replace the placeholder div with the loaded content
                    $("#informationPostsMostViewedPlaceholder").replaceWith(data);
                } else {
                    // If there's an error, optionally show a message
                    $("#informationPostsMostViewedPlaceholder").replaceWith('<p>Error loading information. Please try again later.</p>');
                }
            });
        });
    </script>


    <script type="text/javascript">
        // Function to share on Facebook
        function shareOnFacebook() {
            var url = window.location.href; // Get current page URL
            var customMessage = "Check out this post by SinoExperts:"; // Custom message

            // Construct Facebook share URL
            var facebookShareUrl = `https://www.facebook.com/sharer/sharer.php?u=${encodeURIComponent(url)}&quote=${encodeURIComponent(customMessage)}`;

            // Open the Facebook share dialog
            window.open(facebookShareUrl, '_blank');
        }

        // Function to share on Twitter
        function shareOnTwitter() {
            var url = window.location.href; // Get current page URL
            var text ="@{ @Model.Topic}" ; // Use the page title as the tweet text
            var twitterShareUrl = `https://twitter.com/intent/tweet?text=${encodeURIComponent(text)}&url=${encodeURIComponent(url)}`;
            window.open(twitterShareUrl, '_blank');
        }

        // Function to share on LinkedIn
        function shareOnLinkedIn() {
            var url = window.location.href; // Get current page URL
            var linkedInShareUrl = `https://www.linkedin.com/shareArticle?mini=true&url=${encodeURIComponent(url)}&title=${encodeURIComponent(document.title)}`;
            window.open(linkedInShareUrl, '_blank');
        }

        // Function to send via email
        function shareViaEmail() {
            var url = window.location.href; // Get current page URL
            var subject = `Check out this page: ${document.title}`;
            var body = `I found this interesting page and thought you might like it: ${url}`;
            window.location.href = `mailto:?subject=${encodeURIComponent(subject)}&body=${encodeURIComponent(body)}`;
        }
    </script>


    <script src="/assets/js/informationScipts.js"></script>
}
