@using MiddleManServices.ApiServices.QuickBase.ServiceModels
@model InformationSinglePostViewModel
@{
}

<!-- Hero -->
<section id="slider" class="hero p-0 odd featured">
    <div class="swiper-container no-slider animation slider-h-50 slider-h-auto">
        <div class="swiper-wrapper">

            <!-- Item 1 -->
            <div class="swiper-slide slide-center">

                <!-- Media -->
                <img src="@Model.HeaderImageUrl" alt="Full Image" class="full-image" data-mask="80">

                <div class="slide-content row text-center">
                    <div class="col-12 mx-auto inner">

                        <!-- Content -->
                        <nav data-aos="zoom-out-up" data-aos-delay="800" aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">@Model.Topic</li>
                            </ol>
                        </nav>

                        <h1 class="mb-0 title effect-static-text">@Model.Topic</h1>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<!-- Single -->
<section id="single" class="section-3 single">
    <div class="container">
        <div class="row content">

            <!-- Main -->
            <div class="col-12 col-lg-8 p-0 text">

                <!-- Text -->
                <div class="row intro">
                    <div class="col-12">
                        <span class="pre-title m-0">@Model.Category</span>
                        <h2 class="mb-0"><span class="featured"><span></span></span>@Model.Topic</h2>
                    </div>

                </div>

                <div class="row">
                    <div class="col-12 align-self-center">
                        <p>@Model.SecondParagraph</p>
                        <div class="mb-5 gallery">
                            <a href="https://vimeo.com/222990241" class="square-image d-flex justify-content-center align-items-center">
                                <i class="icon bigger fas fa-play clone"></i>
                                <i class="icon bigger fas fa-play"></i>
                                <img src="@Model.SectionImageUrl" class="fit-image" alt="Introduction Video">
                            </a>
                        </div>

                        
                        <p>@Model.SecondParagraph</p>
                    </div>
                </div>

                <!-- Gallery -->
                <div class="gallery row justify-content-center">
                    <a class="col-6 item" href="assets/images/gallery-1.jpg">
                        <img src="assets/images/gallery-1.jpg" alt="Gallery" class="w-100">
                    </a>
                    <a class="col-6 item" href="assets/images/gallery-2.jpg">
                        <img src="assets/images/gallery-2.jpg" alt="Gallery" class="w-100">
                    </a>
                    <a class="col-6 item" href="assets/images/gallery-3.jpg">
                        <img src="assets/images/gallery-3.jpg" alt="Gallery" class="w-100">
                    </a>
                    <a class="col-6 item" href="assets/images/gallery-4.jpg">
                        <img src="assets/images/gallery-4.jpg" alt="Gallery" class="w-100">
                    </a>
                </div>
            </div>

            <!-- Sidebar -->
            <aside class="col-12 col-lg-4 pl-lg-5 p-0 float-right sidebar">

                <!-- Share -->
                <div class="row item widget-share">
                    <div class="col-12 align-self-center">
                        <h4 class="title">Share</h4>
                        <ul class="navbar-nav social share-list">
                            <li class="nav-item">
                                <a href="#" class="nav-link"><i class="fab fa-facebook-f ml-0"></i></a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link"><i class="fab fa-twitter"></i></a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link"><i class="fab fa-linkedin-in"></i></a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link"><i class="fab fa-pinterest"></i></a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link"><i class="fab fa-google-drive"></i></a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link"><i class="fas fa-envelope mr-2"></i></a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link"><i class="fas fa-print"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>


                <!-- Services -->
                <div class="row item widget-services">
                    <div class="col-12 align-self-center">
                        <h4 class="title">Our Services</h4>
                        <div class="quote">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item d-flex justify-content-start align-items-center">
                                    <a asp-controller="Service" asp-action="FindASupplier"><i class="icon icon-organization"></i></a>
                                    <div class="list-group-content">
                                        <h4>@TextConstants.ServiceOneHeader</h4>
                                    </div>
                                </li>
                                <li class="list-group-item d-flex justify-content-start align-items-center">
                                    <a asp-controller="Service" asp-action="OrganizeAFactoryTour"><i class="icon icon-briefcase"></i></a>
                                    <div class="list-group-content">
                                        <h4>@TextConstants.ServiceTwoHeader</h4>
                                    </div>
                                </li>
                                <li class="list-group-item d-flex justify-content-start align-items-center">
                                    <a asp-controller="Service" asp-action="TalentDevelopment"><i class="icon icon-chart"></i></a>
                                    <div class="list-group-content">
                                        <h4>@TextConstants.ServiceThreeHeader</h4>
                                    </div>
                                </li>
                                <li class="list-group-item d-flex justify-content-start align-items-center">
                                        <a asp-controller="Service" asp-action="ExpandYourBusiness"><i class="icon icon-plane"></i></a>
                                    <div class="list-group-content">
                                        <h4>@TextConstants.ServiceFourHeader</h4>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <!-- Categories -->
                <div class="row item widget-categories">
                    <div class="col-12 align-self-center">
                        <h4 class="title">Categories</h4>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <a href="#">Technology</a>
                                <span class="badge circle">23</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <a href="#">Education</a>
                                <span class="badge circle">41</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <a href="#">Industry</a>
                                <span class="badge circle">26</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <a href="#">Development</a>
                                <span class="badge circle">75</span>
                            </li>
                        </ul>
                    </div>
                </div>


                <!-- Gallery -->
                <div class="row item widget-gallery mb-0">
                    <div class="col-12 align-self-center">
                        <h4 class="title">Gallery</h4>
                        <div class="gallery row justify-content-center">
                            <a class="col-6 pl-0 item" href="assets/images/project-1.jpg">
                                <img src="assets/images/project-1.jpg" alt="Project" class="w-100">
                            </a>
                            <a class="col-6 pr-0 item" href="assets/images/project-2.jpg">
                                <img src="assets/images/project-2.jpg" alt="Project" class="w-100">
                            </a>
                            <a class="col-6 pl-0 item" href="assets/images/project-3.jpg">
                                <img src="assets/images/project-3.jpg" alt="Project" class="w-100">
                            </a>
                            <a class="col-6 pr-0 item" href="assets/images/project-4.jpg">
                                <img src="assets/images/project-4.jpg" alt="Project" class="w-100">
                            </a>
                            <a class="col-6 pl-0 item" href="assets/images/project-5.jpg">
                                <img src="assets/images/project-5.jpg" alt="Project" class="w-100">
                            </a>
                            <a class="col-6 pr-0 item" href="assets/images/project-6.jpg">
                                <img src="assets/images/project-6.jpg" alt="Project" class="w-100">
                            </a>
                        </div>
                    </div>
                </div>
            </aside>
        </div>
    </div>
</section>

<!-- Result -->
<section id="result" class="section-2 showcase blog-grid filter-section projects">
    <div class="container">
        <div class="row items">
            <div class="col-12 col-md-4 pr-md-5 text">
                <div data-aos="fade-up" class="row intro">
                    <div class="col-12 p-0">
                        <span class="pre-title m-0">Featured posts</span>
                        <h2 class="mb-3">Most<br>Viewed<br>This Month</h2>
                        <div class="row">
                            <div class="col-12 p-0 input-group">
                                <input type="text" class="form-control" placeholder="Enter Keywords">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 p-0 input-group align-self-center">
                                <button class="btn primary-button">SEARCH</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div data-aos="fade-up" class="col-12 col-md-4 item">
                <div class="card p-0 text-center">
                    <div class="image-over">
                        <img src="/assets/images/news-1.jpg" alt="Lorem ipsum">
                    </div>
                    <div class="card-footer d-lg-flex align-items-center justify-content-center">
                        <a href="#" class="d-lg-flex align-items-center"><i class="icon-user"></i>Andrea Miller</a>
                        <a href="#" class="d-lg-flex align-items-center"><i class="icon-clock"></i>2 Days Ago</a>
                    </div>
                    <div class="card-caption col-12 p-0">
                        <div class="card-body">
                            <a href="#">
                                <h4>Increasing creativity is possible for everyone</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div data-aos="fade-up" class="col-12 col-md-4 item">
                <div class="card p-0 text-center">
                    <div class="image-over">
                        <img src="/assets/images/news-2.jpg" alt="Lorem ipsum">
                    </div>
                    <div class="card-footer d-lg-flex align-items-center justify-content-center">
                        <a href="#" class="d-lg-flex align-items-center"><i class="icon-user"></i>John Smith</a>
                        <a href="#" class="d-lg-flex align-items-center"><i class="icon-clock"></i>9 Days Ago</a>
                    </div>
                    <div class="card-caption col-12 p-0">
                        <div class="card-body">
                            <a href="#">
                                <h4>Because market research is part of the business plan</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Subscribe -->
<section id="subscribe" class="section-1 odd subscribe">
    <div class="container smaller">
        <div class="row">
            <div class="col-12 col-md-6 m-md-0 intro">
                <span class="pre-title m-0">Newsletter</span>
                <h2><span class="featured"><span>Know</span></span> First</h2>
                <p>Follow closely and receive content about our company and the news of the current market.</p>
            </div>
            <div class="col-12 col-md-6">
                <form action="php/form.php" id="nexgen-subscribe" class="row m-auto items">
                    <input type="hidden" name="section" value="nexgen_subscribe">

                    <input type="hidden" name="reCAPTCHA">
                    <!-- Remove this field if you want to disable recaptcha -->

                    <div class="col-12 mt-0 input-group align-self-center item">
                        <input type="text" name="name" class="form-control less-opacity field-name" placeholder="Name">
                    </div>
                    <div class="col-12 input-group align-self-center item">
                        <input type="email" name="email" class="form-control less-opacity field-email" placeholder="Email">
                    </div>
                    <div class="col-12 input-group align-self-center item">
                        <a data-aos="zoom-in" class="btn primary-button">SUBSCRIBE</a>
                    </div>
                    <div class="col-12 item">
                        <span class="form-alert mt-3 mb-0"></span>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

@{ await Html.RenderPartialAsync("PartialViews/GetInTouchPartialView", new GetInTouchServiceModel());}